@use "./theme-custom-props.scss" as props;

:root {
    @include props.light;
    
    color: var(--color-text);
    background-color: var(--color-bg);
    accent-color: var(--color-accent);
}

@media (prefers-color-scheme: light) {
    :root:not(html[data-theme="dark"]) {
        @include props.light;
    }
}

@media (prefers-color-scheme: dark) {
    :root:not(html[data-theme="light"]) {
        @include props.dark;
    }
}

:root:is(html[data-theme="light"]) {
    @include props.light;
}

:root:is(html[data-theme="dark"]) {
    @include props.dark;
}