{% include 'layouts/main.twig' %}

{% include 'components/multi-toggle.twig' with {
        default: 'auto',
        label: 'Theme:',
        name: 'theme-chooser',
        dataJs: 'theme-chooser',
        items: [
            { label: 'Auto', value: 'auto' },
            { label: 'Light', value: 'light' },
            { label: 'Dark', value: 'dark' },
        ]
    }
%}

<p>This demo uses <code>@media (prefers-color-scheme: dark)</code> but adds a toggle-switch to select between light and dark theme too!</p>

{% include 'components/card.twig' with {
    title: 'Dark- & Light Mode via media query with toggle',
    image: '/src/assets/kimon-maritz-jl2T_E4tUyo-unsplash',
    body: '<a href="https://unsplash.com/de/fotos/luftaufnahme-von-bergen-mit-schnee-jl2T_E4tUyo">Picture</a> from <a href="https://unsplash.com/de/@kimonmaritz?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Kimon Maritz</a> via <a href="https://unsplash.com/de/fotos/luftaufnahme-von-bergen-mit-schnee-jl2T_E4tUyo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>',
    footer: '<button class="button">styled button</button> <button>unstyled button</button>'
} %}
